{% load static %}

<div class="card">
	{% if product.is_new  %}
		<div class="badge">New</div>
	{% endif %}

	<div class="thumb">
		<img src="{{product.image.url}}" alt="Product Image">
	</div>
	<div class="details">
		<div class="row">
			<span class="category">{{product.category.name}}</span>
		<div class="price">KES {{product.unit_price}}<small>/piece</small></div>
		</div>
		<h4 class="label">{{product.label}}</h4>
		<p class="description">{{product.description}}</p>
		<div class="bottom-details">
			<div class="links">
				<a href="{% url 'product_edit' product.pk %}" class="btn"><i class="bi bi-pencil-square"></i></a>
			</div>
		</div>
	</div>
</div>