{% load static %}

<div class="product-card">
	<div class="badge">New</div>
	<div class="product-tumb">
		<img src="{{product.image.url}}" alt="Product Image">
	</div>
	<div class="product-details">
		<span class="product-category">{{product.category.name}}</span>
		<h4><a href="">{{product.label}}</a></h4>
		<p>{{product.description}}</p>
		<div class="product-bottom-details">
			<div class="product-price">${{product.unit_price}}/ <small>piece</small></div>
			<div class="product-links">
				<a href="{% url 'product_edit' product.pk %}"><i class="bi bi-pencil-square"></i></a>
				<a href="{% url 'product_delete' product.pk %}"><i class="bi bi-trash"></i></a>
			</div>
		</div>
	</div>
</div>