{% extends "base.html" %}

{% block main %}
<main>
        <div class="wrapper">
            <div class="card">
                <div class="card-header">
                    <span class="icon"><i class="fa fa-lock"></i> Locked out?</span>
                </div>
                <div class="card-body">
                    <p>Hey, we received a request to reset your password.</p>
                    <p>Let's get you one!</p>
                    <form method="POST">
                        {% csrf_token %}
{#                        {{ form.as_p }}#}
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                        <input type="submit" class="btn" value="Reset My password">
                    </form>
                    <p>Having Trouble login in ?</p>
                    <p><a href="#"><i class="fa fa-support"></i> Get support</a></p>
                </div>
                <div class="card-footer">
                    <small class="center">Didn't request a password reset?. You can ignore this message</small>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}