{% extends "base.html" %}

{% block main %}
<main>
        <div class="wrapper">
            <div class="card">
                <div class="card-header">
                    <span class="icon"><i class="fa fa-check-circle-o"></i> Password reset complete</span>
                </div>
                <div class="card-body">
                    <h1>Password reset complete</h1>
                    <p>{{ message }}</p>
                    <p>You can log in now log in with your new password</p>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}