#header {
  padding: 20px 20px;
  margin-bottom: 2rem;
}
#brand {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2,
caption {
  /* background: #212121; */
  padding: 10px 20px !important;
}
/* .breadcrumbs{
  margin-bottom: 10px;
} */

