:root {
  --primaryColor: #23AA49;
  --gradientColor: #EBF8EE;
  --redColor: #FF324B;
  --secondaryColor: #979899;
  --whiteColor: #ffffff;
  --darkColor: #000000;
  --lightColor: #F3F5F7;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* global */
ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

img {
  width: 100%;
  height: auto;
}


body {
  height: 100vh;
  width: 100vw;
  background: var(--gradientColor);
  display: flex;
  align-items: center;
  justify-content: center;

}

.box-form {
  margin: 0 auto;
  width: 70%;
  background: var(--whiteColor);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px var(--secondaryColor);
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.box-form div {
  height: auto;
}

.box-form .left {
  color: var(--gradientColor);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg.png');
  overflow: hidden;
  padding: 30px;
}

.box-form .left h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-form .left div.contact h4 {
  margin-top: 30px;
  font-weight: 900;
}

.box-form .left div.wrapper {
  display: flex;
  gap: 2em;
}

.box-form .left div.contact p {
  background: var(--primaryColor);
  color: var(--gradientColor);
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1em;
}


.box-form .right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  padding: 30px;
}

.box-form .right .container {
  min-height: 80%;
}


.box-form .right h3 {
  font-size: 5vmax;
  /* line-height: 0; */
}

.box-form .right .inputs {
  overflow: hidden;
}

.box-form .right .inputs .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  background: var(--gradientColor);
  border-bottom: 2px solid var(--primaryColor);
}

.box-form .right .forget-password a {
  color: var(--primaryColor);
}


.box-form .right input[type=submit] {
  color: var(--gradientColor);
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 20px;
  display: inline-block;
  width: 100%;
  border: 0;
  outline: 0;
  background: var(--primaryColor);
  margin-bottom: 1em;
}

.box-form .right p.auth-link {
  font-size: 16px;
  color: var(--secondaryColor);
}

.box-form .right p.auth-link a {
  color: var(--primaryColor);
}

/* alert messages */
.messages-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages-container .messages{
    width: 40%;
    max-height: 20em;
    background: var(--primaryColor);
  color: var(--whiteColor);
    position: absolute;
  top: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;


}
.messages-container li{
  counter-increment: index;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em;
  box-sizing: border-box;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}