:root {
    --background: #23AA49;
    --color: #000000;
    --light: rgb(224, 224, 224);
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.product-list {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
    background: pink;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: var(--primaryColor);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: var(--primaryColor);
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    /*text-decoration: line-through;*/
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a:nth-child(1) {
    color: var(--primaryColor);
}

.product-links a:nth-child(2) {
    color: var(--redColor);
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    /*color: #e1e1e1;*/
    transition: 0.3s;
    font-size: 17px;
}


.product-links a:hover {
    color: #fbb72c;
}

/* edit product form */
/*.edit-form-container img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

.edit-form-container input,
textarea,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--secondaryColor);
    outline: none;
    background: var(--gradientColor);
    border-radius: 0.2em;
    margin-top: 0.5em;
    /*border-bottom: 2px solid var(--primaryColor);*/
}

.edit-form-container .wrapper {
    background: var(--whiteColor);
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
}

.edit-form-container table {
    width: 100%;
    /*background: pink;*/
}

.edit-form-container table thead th {
    width: 100%;
    column-span: all;
    /*border-bottom: 1px solid var(--secondaryColor);*/
    padding: 0.5em 0.2em;
    background: var(--lightColor);
    text-align: left;
}

.edit-form-container tr {
    width: 100%;
}

.edit-form-container table:nth-child(1) {
    border: 1px solid var(--lightColor);
    padding: 0.5em 0.5em;
}

.edit-form-container .table-nav {
    padding: 0.2em;
    display: flex;
    align-items: start;
    height: 100%;
    color: var(--secondaryColor);
}

/* lower table */
.edit-form-container .wrapper .row {
    display: flex;
    align-items: start;
    gap: 2em;
}

.edit-form-container .wrapper .row .card {
    padding: 0.5em;
    background: var(--lightColor);
    min-height: 10em;
    min-width: 10em;
}

.edit-form-container .wrapper .row .card .header {
    padding: 0.5em;
    text-transform: uppercase;
    color: var(--secondaryColor);
}

.edit-form-container .wrapper .row .card p {
    padding: 1em 0.5em;
    font-weight: 200;
}

/*.edit-form-container .wrapper .row  img{*/
/*    width: 10em;*/
/*}*/
.edit-form-container .wrapper .row img {
    height: 8em !important;
    width: auto;
}

/* orders */
.alt-text h4 {
    color: var(--secondaryColor);
    font-weight: 400;
    font-size: 1.2em;
}

/* orders table */
table.orders-table {
    border-collapse: collapse;
    width: 100%;
}

table.orders-table th{
    font-weight: 900;
    color: #ffffff;
    background: var(--secondaryColor);
}

table.orders-table th,
table.orders-table td {
    text-align: left;
    padding: 6px 12px;
    display: table-cell;
}

table.orders-table tr {
    margin-bottom: 0.5em;
}

table.orders-table tr:nth-child(even) {
    background-color: var(--lightColor);
}

tr:nth-child(odd) {
    background-color: var(--whiteColor);
}
button[type=submit]{
    color: var(--gradientColor);
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 0.2em;
  display: inline-block;
  /*width: 100%;*/
  border: 0;
  outline: 0;
  background: var(--primaryColor);
  margin-bottom: 1em;
}

/* analytics */
    .analytics .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
    .analytics .card{
        padding: 1em;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--whiteColor);
    background-clip: border-box;
    border: 1px solid var(--lightColor);
    border-radius: .25rem;
    }
    .analytics .tilebox .card-body .card-data{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .analytics h6{
        text-transform: uppercase !important;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1.1;
        color: var(--secondaryColor);
        margin: 10px 0em;
    }
    .analytics h2{
        margin-top: .75rem !important;
    margin-bottom: .75rem !important;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.1;
    }
    .analytics i{
        font-size: 2rem;
        opacity: .3;
    }
    .text-success{
        color: var(--primaryColor);
    }
    .text-muted{
        white-space: nowrap !important;
        color: var(--secondaryColor);
    }
/* end analytics */